body {
    background-color: #faefd2;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.navBar {
    background-color: #ffccab;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

.lucySis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 410px;
}

#aboutLucy {
  text-align: center;
  padding-top: 10px;
}
.lucyPa {
  text-align: center;
  padding: 10px;
}

.secondRow{
    position:relative;
    top: 75px;
}

.cont1{
    padding: 25px;
}

.test {
    padding-top: 10px;
}

.container{
  position:absolute;
  top:50px;
  right:-350px;
}

.spinnyWheel{
    position:relative;
    width:100px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .container .spinBtn {
    position:absolute;
    width:60px;
    height:60px;
    background:#00525B;
    border-radius: 50%;
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:0.5mm
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
    top: 150px;
    left: 145px;
  }
  
  .container .spinBtn::before{
    content:" ";
    position:absolute;
    top:-25px;
    width:30px;
    height:45px;
    background:#00525B;
    clip-path:polygon(50% 0%, 15% 100%, 85% 100%)
  }
  
  .container .wheel{
    position:absolute;
    top:0;
    left:0;
    width:350px;
    height:350px;
    background:#00525B;
    border-radius:50%;
    box-shadow: 0 0 0 5px #faefd2, 
      0 0 0 8px #00525B,
      0 0 0 6px #00525B;
    transition:transform 5s ease-in-out;
  }
  
  .container .wheel .pastry{
    position:absolute;
    width:50%;
    height:50%;
    background: var(--clr);
    transform-origin:bottom right;
    transform: rotate(calc(60deg*var(--i)));
    clip-path:polygon(0 0,79% 21%, 100% 100%, 21% 79%);
    display:flex;
    justify-content:center;
    align-items:center;
    user-select:none;
    cursor:pointer;
  }
  
  .container .wheel .pastry span{
    position:relative;
    transform:rotate(45deg);
    font-size:29px;
    font-weight:700;
    color: #00525B;
    text-shadow: 3px 2px 2px wheat;
  }

  .buttonLearn{
    background-color: #6adcdc
    ;
  }
  .buttoncolor {
    color: #82FFE8;
    opacity: 90%;
  }
  
.reviewBox{
  margin:20px;
}
.lucyPa{
  font-size: 20px;
  text-align: left;
}
.galleryText{
  font-size: 20px;
}

.lucyIndex {
  position: relative;
  margin-left: 50px;
  height: 360px;
  width: 300px;
}
.formating {
  padding-top: 40px;
}
.imgSize {
  height: 400px;
  padding-left: 50px;
}
h2 {
  text-align: center;
}.list-group{
  padding: 10px;
}

.hobbiesList{
  position:absol
  left:0px;
}